<br />
<div class="mb-12 row">
    <label class="col-sm-12 col-form-label">Age and Gender distribution</label>
    <div class="col-sm-6">
        
    </div>
    <div class="col-sm-6">
       
    </div>
</div>
