<br />
<div class="mb-12 row">
    <label class="col-sm-12 col-form-label">Age and Gender distribution</label>
    <div class="col-sm-6">
        <div id="barChart">

        </div>
    </div>
    <div class="col-sm-6">
       <div id="pieChart">

       </div>
    </div>
</div>
<br/>
<div class="mb-3 row">
    <div class="col-sm-6 ">
        <button type="submit" id="Save" class="btn btn-outline-success mb-3">Save Generated Records</button>
    </div>
</div>
