

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#SimulatePatients" type="button" role="tab" aria-controls="SimulatePatients" aria-selected="true">Simulate Patients</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#VisitData" type="button" role="tab" aria-controls="VisitData”" aria-selected="false">Visit Data</button>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="SimulatePatients" role="tabpanel" aria-labelledby="home-tab">
        @Html.Partial("SimulatePatient")

        @Html.Partial("AgeGenderDistribution")
    </div>
    <div class="tab-pane fade" id="VisitData" role="tabpanel" aria-labelledby="profile-tab">... xcxxc</div>
</div>

<script>
    $(document).ready(function () { 
        //function will be called on button click having id btnsave
        $("#btnSave").click(function () {

            // Initialization
            var jsonInput = {
                sampleSize: $("#txtSampleSize").val(),
                maleWeight: $("#txtMaleWeight").val(),
                femaleWeight: $("#txtFeMaleWeight").val(),
                ageGroup2130: $("#txtageGroup2130").val(),
                ageGroup3140: $("#txtageGroup3140").val(),
                ageGroup4150: $("#txtageGroup4150").val(),
                ageGroup5160: $("#txtageGroup5160").val()
            }
            $.ajax(  
            {  
                type: "POST", //HTTP POST Method  
                    url: "Patient/AddPatient", // Controller/View   
                    data: { //Passing data  
                        jsonInput: JSON.stringify(jsonInput)
                }  
            });  
  
        });  
    });  
  
</script>