
<br/>
<div class="mb-3 row">
    <label for="staticEmail" class="col-sm-2 col-form-label">SampleSize</label>
    <div class="col-sm-4">
        <input type="number" class="form-control" id="txtSampleSize" min="10">
    </div>
</div>
<div class="mb-3 row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Gender</label>
    <div class="col-sm-10">
        <div class="md-3 row">
            <div class="col-sm-6">
                <label for="male" >Male(Weight)</label>
                <input type="number" class="form-control" id="txtMaleWeight">
            </div>
            <div class="col-sm-6">
                <label for="female">FeMale(Weight)</label>
                <input type="number" class="form-control" id="txtFeMaleWeight">
            </div>
        </div>        
    </div>
</div>

<div class="mb-3 row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Age</label>
    <div class="col-sm-10">
        <div class="md-3 row">
            <div class="col-sm-2">
                <label for="rage1">(21-30)</label>
                <input type="number" class="form-control" id="Male">
            </div>
            <div class="col-sm-2">
                <label for="rage2">(31-40)</label>
                <input type="number" class="form-control" id="Male">
            </div>
            <div class="col-sm-2">
                <label for="rage3">(41-50)</label>
                <input type="number" class="form-control" id="Male">
            </div>
            <div class="col-sm-2">
                <label for="rage4">(51-60)</label>
                <input type="number" class="form-control" id="Male">
            </div>
            <div class="col-sm-2">
                <label for="rage5">(61-70)</label>
                <input type="number" class="form-control" id="Male">
            </div>
        </div>
        <label for="weight" >Weights</label>
    </div>
</div>

<div class="mb-3 row">
    <label class="col-sm-2 col-form-label"></label>

    <div class="col-sm-4 ">
        <button type="submit" id="btnSave" class="btn btn-outline-success mb-3">Generate Patients</button>
    </div>
</div>

